@import url(./__cell/table__cell.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);
@import url(./__text/-margin-top/table__text-margin-top.css);

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px; 
}