@import url(/blocks/digits/table/__cell/table__cell.css);
@import url(/blocks/digits/table/__heading/table__heading.css);
@import url(/blocks/digits/table/__text/table__text.css);
@import url(/blocks/digits/table/__text/-margin-top/table__text-margin-top.css);

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px; 
}