.footer__column-link {
  display: flex;
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 18px;
  color: white;
  text-decoration: none;
  transition: opacity .2s linear 0s;

}

.footer__column-link:last-child {
  margin-bottom: 16px;
}

.footer__column-link:hover {
  opacity: .25;
}
  