@import url(/blocks/kaufman/__triangle/kaufman__triangle.css);
@import url(/blocks/kaufman/section-subtitle_theme_dark/section-subtitle_theme_dark.css);
@import url(/blocks/kaufman/section-title_theme_dark/section-title_theme_dark.css);
@import url(/blocks/kaufman/table/table.css);

.kaufman {
  position: relative;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  background-color: #1f1f1f;
  overflow: hidden;
}
