@import url(./__triangle/kaufman__triangle.css);
@import url(./section-subtitle_theme_dark/section-subtitle_theme_dark.css);
@import url(./section-title_theme_dark/section-title_theme_dark.css);
@import url(./table/table.css);

.kaufman {
  position: relative;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  color: white;
  background-color: #1f1f1f;
  overflow: hidden;
}
