@import url(/blocks/footer/__author/footer__author.css);
@import url(/blocks/footer/__column-heading/footer__column-heading.css);
@import url(/blocks/footer/__columns/footer__columns.css);
@import url(/blocks/footer/__column-link/footer__column-link.css);
@import url(/blocks/footer/__column_content-copyright/footer__column_content-copyright.css);
@import url(/blocks/footer/__column_content-social/footer__column_content-social.css);
@import url(/blocks/footer/__column_content-info/footer__column_content-info.css);
@import url(/blocks/footer/__social-icon/footer__social-icon.css);
@import url(/blocks/logo__place_footer/logo__place_footer.css);

.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
  flex-basis: 711px;
}

a {
  text-decoration: none;
}
